$secundary-Color: var(--secundary-color);
.bubbles{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    z-index: -10;
    position: fixed;
    width: 100%;
    span{
        transition: 1s;
        width: 20px;
        height: 20px;
        background: $secundary-Color;
        margin: 0 4px;
        box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px $secundary-Color,
        0 0 100px $secundary-Color;
        animation: animate 15s linear infinite;
        animation-duration: calc(120s / var(--i));
    }

    span:nth-child(even){
        transition: 1s;
        box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px $secundary-Color,
        0 0 100px $secundary-Color;
        background: $secundary-Color;
    }
}

@keyframes animate{
0%{
    transform: translateY(-10vh) scale(1);
}
100%{
    transform: translateY(100vh) scale(0);
}
}