// Mobile
@media screen and (max-width: 430px){
    .zone{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: black;
        text-align: center;
        #text{
            color: black;
            font-weight: 500;
            font-size: small;
        }
        a{
            color: #000;
            font-weight: 790;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    


}

// Monitor
@media screen and (min-width: 1024px){
    .zone{
        color: black;
        #text{
            color: black;
            font-size: large;
        }
        a{
            color: #000;
            font-weight: 400;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
   
}